  
  
  
  
  <!-- footer  -->

  <footer class="bg-dark w-100">


        <div class="container">
            <div class="row">
                <div class="col-md-3 text-right text-white mt-4"> 


                    <p>لینک های مشابه</p>

                    <ul>
                        <li>مرجع تخصصی برنامه نویسان</li>
                        <li>انجمن مهندسان ایران</li>
                        <li>قالب رایگان سایت</li>
                        <li>فروشگاه برنامه نویس</li>
                        <li>گت ورک فریلنسر</li>
                    </ul>
                </div>
                <div class="col-md-5 text-white text-right mt-4">
                    <p>سوالات متداول</p>

                    <ul>
                        <li>شروع همکاری با تاپ لرن</li>
                    </ul>
                </div>
                <div class="col-md-4 mt-4" id="logo">

                    <img src="" alt="">
                    <img src="" alt="">
                </div>


            </div>

        </div>

        <p class="foot-footer text-center bg-primary">
                تمامی حقوق مادی و معنوی این سایت و دوره های آموزشی متعلق به آموزشگاه برنامه نویسان  می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
        </p>
    </footer>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>






