<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
        
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                        <ul class="navbar-nav">
                            <li class="nav-item active"> 
                                <a href="" class="">صفحه اصلی</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">اخرین دوره ها</a>
                            </li>
                            &nbsp |  &nbsp 
                            <li class="nav-item active"> 
                                    <a href="" class="">معرفی مدرسین</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">بلاگ</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">تماس باما</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">درباره ما</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">درخواست اموزش</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active"> 
                                    <a href="" class="">پرسش و پاسخ</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active border border-dark rounded-pill"> 
                                    <a href="" class="">toptips</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item active mr-5"> 
                                    <a href="" class="">ورود/ عضویت</a>
                            </li>
                            
                        </ul>
                    </div>
            </nav>


            <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
                <a href="" class="navbar-brand"> toplearn </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
        
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                        <ul class="navbar-nav">
                            <li class="nav-item active"> 
                                <a href="" class=""> کسب درامد از تاپ لرن</a>
                            </li>
                           
                            </li>
                            &nbsp  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class=""> همکاری با تاپ لرن </a>
                            </li>
                            &nbsp   &nbsp
                            <li class="nav-item"> 
                                    <a href="" class="">ماهنامه اموزشی</a>
                            </li>
                       
                            
                        </ul>
                    </div>
            </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white"> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
        
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                        <ul class="navbar-nav p-0 ">
                            <li class="nav-item active"> 
                                <a href="" class="nav-link p-0 text-white"> برنامه نویسی موبایل</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white">  برنامه نویسی وب</a>
                            </li>
                            &nbsp |  &nbsp 
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white"> طراحی سایت </a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white">بانک های اطلاعاتی</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white"> برنامه نویسی تحت ویندوز</a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white"> سثو </a>
                            </li>
                            &nbsp |  &nbsp
                            <li class="nav-item "> 
                                    <a href="" class="nav-link p-0 text-white"> سیستم عامل</a>
                            </li>
                            
                            <li class="nav-item  bg-info mr-3"> 
                                    <a href="" class="nav-link p-0 text-white"></a>کانال تلگرام</a>
                            </li>
             
                            
                        </ul>
                    </div>
            </nav>

 