
<%- include('header') %>



    </div>
    <div class="jumbotron text-center bg-jum text-white">

            <h2>خود ساختگی و کسب تجربه و ورود به بازار کار</h2>
            <h3> با اساتید مجرب و کارازموده در تاپ لرن</h3>
            <h4 class="pb-5"> با کمترین هزینه خودت یادبگیر</h4>


            <input type="text" class="bg-white text-dark form-control w-50 m-auto " placeholder="چی دوس داری یادبگیری">


            <div class="list-inline mt-5">
                <li class="list-inline-item">14 مدرس مجرب </li>
                <li class="list-inline-item mr-3">۲۶۰۰۸ دانشجو</li>
                <li class="list-inline-item mr-3">۲۸۲۶۶ دقیقه اموزش</li>
            </div>
    </div>






    <div class="container">
        <!-- ----------------------last sessions -->

        <div class="list-inline mt-5">
                <p class="list-inline-item float-right">اخرین دوره های تاپ لرن </p>
                <button class="btn btn-success list-inline-item"> مشاهده اخرین دوره ها</button>
                <hr>
        </div>



        <div class="row">

            <div class="col-md-3 ">
                    <div class="card" id="cards">
                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                <p class="card-text"></p>
                            </div>
        
                        </div>
            </div>
            <div class="col-md-3">
                    <div class="card" id="cards">
                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                <p class="card-text"></p>
                            </div>
        
                        </div>
            </div>
            <div class="col-md-3">
                    <div class="card" id="cards">
                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                <p class="card-text"></p>
                            </div>
        
                        </div>
            </div>
            <div class="col-md-3">
                    <div class="card" id="cards">
                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                <p class="card-text"></p>
                            </div>
        
                        </div>
            </div>
            
        </div>
        <div class="row mt-3">
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text"></p>
                                </div>
            
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text"></p>
                                </div>
            
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text"></p>
                                </div>
            
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text"></p>
                                </div>
            
                            </div>
                </div>
        </div>
      <!-- dorehaye pishnahadi toplearn -->

    </div>


      <div class="back-pishnahad">
            <div class="container mt-5 ">
                    <h2 class="text-white text-center pt-5 pb-4">دوره های پیشنهادی تاپ لرن </h2>
                    <div class="row pb-4">
                            <div class="col-md-3">
                                    <div class="card" id="cards">
                                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                                <p class="card-text"></p>
                                            </div>
                        
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="card" id="cards">
                                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                                <p class="card-text"></p>
                                            </div>
                        
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="card" id="cards">
                                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                                <p class="card-text"></p>
                                            </div>
                        
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="card" id="cards">
                                            <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title"> دوره php پیشرفته</h5>
                                                <p class="card-text"></p>
                                            </div>
                        
                                        </div>
                            </div>
                    </div>
            </div>
    </div>

    
    <!-- last maghale -->
        <div class="container">
                <div class="list-inline mt-5">
                        <p class="list-inline-item float-right">اخرین مقالات تاپ لرن </p>
                        <button class="btn btn-success list-inline-item">مشاهده همه مقالات</button>
                        <hr>
                </div>   
                
                
                <div class="row">

                        <div class="col-md-4">
                                <div class="card" id="cards">
                                        <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title"> دوره php پیشرفته</h5>
                                            <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                        </div>

                                        <div class="card-footer text-right">
                                                <p id="poster">ایمان مداعنی</p>
                                            </div>
                                    </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" id="cards">
                                        <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title"> دوره php پیشرفته</h5>
                                            <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                        </div>
                                        <div class="card-footer text-right">
                                            <p id="poster">ایمان مداعنی</p>
                                        </div>
                    
                                    </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" id="cards">
                                        <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title"> دوره php پیشرفته</h5>
                                            <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                        </div>

                                        <div class="card-footer text-right">
                                                <p id="poster">ایمان مداعنی</p>
                                            </div>
                    
                                    </div>
                        </div>




                <!-- mahbob tarin dore ha -->
                <div class="list-inline mt-5 col-12">
                        <p class="list-inline-item float-right">  محبوبترین دوره های تاپ لرن   </p>
                        <button class="btn btn-success list-inline-item">مشاهده همه دوره ها</button>
                        <hr>
                </div>  


                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>

                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>




                <div class="list-inline mt-5 col-12">
                        <p class="list-inline-item float-right">اخرین تیپ ها </p>
                        <button class="btn btn-success list-inline-item">مشاهده همه  تیپ ها</button>
                        <hr>
                </div>

                <div class="col-md-4">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>

                <div class="col-md-4">
                        <div class="card" id="cards">
                                <img class="card-img-top" src="/img/carlos-ruiz-huaman-1406576-unsplash.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"> دوره php پیشرفته</h5>
                                    <p class="card-text">یکی از دلایل رایج خستگی طراحان این است که این فرآیند بی‌پایان است. اما راهکارهایی وجود دارد که می‌توانید این </p>
                                </div>

                                <div class="card-footer text-right">
                                        <p id="poster">ایمان مداعنی</p>
                                    </div>
            
                            </div>
                </div>

                </div>





        </div>

        <div class="jointoplearnmedia">
            <div class="container">
                           <div class="row mt-5">
                <div class="col-lg-5 text-right mt-5 mb-5">
                    <p>عضویت در خبر نامه تاپ لرن</p>
                    <p>جهت اطلاع از تخفیفات و  دوره های ویژه در خبر نامه عضو شوید</p>
                </div>
                <div class="col-lg-7 mt-5">


                    <form class="list-inline rounded-0" action="" method="POST">
                        <input type="text" class="form-control list-inline-item w-25 d-inline-block float-right mt-4 rounded-0">
                        <br>
                        <input type="text" class="form-control list-inline-item w-25 d-inline-block float-right mr-0 rounded-0" style="margin-top:1px;">

                        <button class="btn btn-dark rounded-0 float-right" type="submit" style="margin-top:1px;"> عضویت در خبر نامه</button>
                    </form>
                </div>
            </div>
            </div>
 
        </div>




        <%- include('footer') %>
